@model System.Data.DataTable


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 stretch-card">
        @*<div class="col-xl-3 col-lg-5 col-md-5 col-sm-4 grid-margin stretch-card">*@
        @*<div class="card card-body">*@
            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            @*<h6 class="card">Mark by number of days</h6>*@
            <canvas id="Chart" style="height: 228px; display: block; width: 428px;" width="428" height="228" class="chartjs-render-monitor"></canvas>

             @*<canvas id="Chart" style="height: 182px; display: block; width: 364px;" width="364" height="182" class="chartjs-render-monitor"></canvas>*@
        @*</div>*@

        </div>
        @*<div id="pivotContainer"></div>
        <div id="fusionchartContainer"></div>*@

        <div class="row">
            <div class="card">
                <div class="card-body">
                    @*<button id="button">Row count</button>*@
                    <h4 class="card-title">Assessment Statistics</h4>
                    @*<p class="card-description">
                        Add class
                        <code>.table-striped</code>
                    </p>*@
                    <div class="table-responsive">
                        <table id="example" class="table table-striped">
                            <thead>
                                <tr>
                                    @{
                                        foreach (System.Data.DataColumn col in Model.Columns)
                                        {
                                            <th>
                                                @col.Caption
                                            </th>

                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (System.Data.DataRow row in Model.Rows)
                                {

                                    <tr>
                                        @foreach (var cell in row.ItemArray)
                                        {


                                            <td>
                                                @cell.ToString()
                                            </td>



                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
@section tableScript{
    <script>
        $(function ()
        {
                    var table = $('#example').DataTable(
                        {
                            dom: 'Bfrtip',
                            buttons: [
                                'copy', 'csv', 'excel', 'pdf', 'print'
                            ]
                        });

                    var ctx = document.getElementById('Chart').getContext('2d');

            var newDataset =
            {
                label: [],
                data: []
            };


            $('#example').on('click', 'tr', function (e)
            {
                $(this).toggleClass('selected');
                
                        const clickedElement = $(e.target);
                        var tr = clickedElement.closest('tr');
                        var row = table.row(tr);
                        var record = row.data();
                        newDataset.data.push(record.slice(0,1) ,record.slice(4,9));
                        alert(newDataset[0].data +' || ' + newDataset[0].label)
                        
                //var columnsData = [];
                //$('.selected td').each(function (e)
                //{
                //    //columnsData.push(e.slice(4, 9).text().trim().replace(/\n/gi, ',').replace(/  /gi, '').replace(/,,/gi, ',').split(','));
                //    alert(e);
                //    //alert(columnsData[0]);
                    
                //});
                 
                //var array = $('.selected td').map(function(){
                            //   columnsData.push($(this).text().slice(4, 9).text().trim().replace(/\n/gi, ',').replace(/  /gi, '').replace(/,,/gi, ',').split(','));
                            //   return $(this).text();
                            //}).get();
                
                //columnsData.push('['+$('.selected td').slice(4,9).text().trim().replace(/\n/gi, ',').replace(/  /gi,'').replace(/,,/gi,',')+']');
                //$('.selected td').slice(4, 9).text().trim().replace(/\n/gi, ',').replace(/  /gi, '').replace(/,,/gi, ',').split(',')
                var myChart = new Chart(ctx,
                    {

                        type: 'line',
                        data:
                        {
                            labels: $('th').slice(4, 9).text().trim().replace(/\n/gi, ',').replace(/  /gi, '').replace(/,,/gi, ',').split(','),
                            datasets:
                                [//{

                                    //data: columnsData,//$('.selected td').slice(4, 9).text().trim().replace(/\n/gi, ',').replace(/  /gi, '').replace(/,,/gi, ',').split(',') , //$('td').slice(4, 6).text(),
                                    //label: $('.selected td').slice(0, 1).text().replace(/  /gi, '').trim(),

                        //        }
                                ]

                    },
                    options:
                    {
			            responsive: true,
			            title: {
				            display: true,
				            text: 'Assessment Chart'
			            },
			            scales: {
                            xAxes: [{
                                display: true,
                                ticks: {
                                      autoSkip: false,
                                      maxRotation: 45,
                                      minRotation: 45
                                }
                                
                            }],
				            yAxes: [{
					            display: true,
					             
				            }]
			            }
		            }
                    });

                myChart.config.data.datasets.push(newDataset);
                
                //$('#example tbody').on('click', 'tr td.dt-view', function (e) {
 
                       
                    //alert(e.target);
                        //self.updateDocument(record);
                    //for (year in model)
                    //{
                    //// You create a new dataset with empty values and the year as the label
                    //var newDataset = {
                    //    label: year,
                    //    data: []
                    //};

                    //// For every value for this specific year ..
                    //for (value in model[year]) {
                    //    // You populate the newly created dataset
                    //    newDataset.data.push(model[year][value]);
                    //}

                    //// Then you add the dataset to the charts' ones
                    //myChart.config.data.datasets.push(newDataset);
                    //}

                    myChart.update();
                //})
                


            });             
        });          
    </script>

}
