<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tasks Expert ERP</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="../../vendors/iconfonts/font-awesome/css/font-awesome.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href=@Url.Content("~/css/style.css")>
    <!-- endinject -->
    <link rel="shortcut icon" href=@Url.Content("~/images/favicon.png") />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src=@Url.Content("~/vendors/js/vendor.bundle.base.js")></script>
    <script src=@Url.Content("~/vendors/js/vendor.bundle.addons.js")></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src=@Url.Content("~/js/off-canvas.js")></script>
    <script src=@Url.Content("~/js/misc.js")></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src=@Url.Content("~/js/dashboard.js")></script>
    <!-- End custom js for this page-->
</body>
</html>
